.footer{
    width: 100%;
    height: 500px;
    /* border: green 1px solid; */
    margin-top: 2%;
    background-color: #1a1a1a;
    color: white;
    padding: 0% 4%;
}

.footerInfo{
    display: flex;
    gap: 130px;
}

.info1{
    margin-top: 4%;
}
.info1 > h5{
    font-size: 15px;
}

.foot_dec{
    font-size: 15px;
}

.foot_dec:hover{
    text-decoration: underline;
    cursor: pointer;
}

.brandInfo{
    margin-top: 5%;
}

.ctg_flex{
    display: flex;
    gap: 10px;
}

.menInfo:hover{
    cursor: pointer;
    text-decoration: underline;
}

.SaleInfo:hover{
    cursor: pointer;
    text-decoration: underline;
}

.womenInfo:hover{
    cursor: pointer;
    text-decoration: underline;
}